﻿.red-round{
  background: #ad0b01;
}
.green-round{
  background: #73AD21;
}
.red-round,.green-round{
  border-radius: 25px;
  padding: 20px;
  width: 16px;
  height: 16px;
}
.top-section{
  width: 100%;
}
.top-section,.add-button,h1{
  display: inline-block;
}
.add-button{
  float: right;
  margin: 9px;
}
.pagination-section{
  margin: auto;
}
form,.success-add{
  max-width: 320px;
  margin: auto;
}
.main .table .table-id-field{
  min-width: 60px;
}
.main .table .table-name-field{
  min-width: 160px;
}
.main .table .table-email-field{
  min-width: 90px;
}
.main .table .table-status-field{
  min-width: 100px;
}
